.major {
  color: rgb(225, 22, 22) !important;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(61, 61, 61);
  font-weight: bold;
}

.minor {
  color: yellow;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(61, 61, 61);
  font-weight: bold;
}

.complete {
  text-decoration: line-through;
}

ul,
menu {
  list-style: none;
}

.post-content ul {
  list-style-type: disc;
  padding-left: 2rem;
}

.post-content ol {
  list-style-type: decimal;
  padding-left: 2rem;
}

.post-content li {
  margin-bottom: 0.5rem;
}
