package templates

import (
	"gh_static_portfolio/cmd/domain"
	"time"
)

templ ManageTermsComponent(terms []*domain.Term) {
	for _, term := range terms {
		<h1>Name: { term.Name }</h1>
		<p>Start: { term.Start.Format(time.DateOnly) }</p>
		<p>End: { term.End.Format(time.DateOnly) }</p>
		<p>NonInstructionalDays: </p>
		<ul>
			for _, day := range term.NonInstructionalDays {
				<p>{ day.Format(time.DateOnly) }</p>
			}
		</ul>
	}
}
