package templates

templ ContactComponent() {
	@Layout(NewContactPage()) {
		<h1>Contact Me</h1>
		<p>
			You can reach me at <a class="text-white" href="mailto:whlapinel@gmail.com">whlapinel@gmail.com</a>
		</p>
	}
}
