package templates

templ HomeComponent() {
	@Layout() {
		<h1>Hello Home!</h1>
		<p>
			Please note this site is under construction.  Come back soon!
		</p>
		<a hx-select="#page" hx-target="#page" href="/about.html">
			About
		</a>
	}
}
